fastapi==
uvicorn[standard]==
sqlalchemy==
pydantic==
pydantic-settings==
python-dotenv==
python-multipart==
git+https://github.com/williansandi/iqoptionapi-2025-Atualizada-.git
websocket-client>=
requests>=
